<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<array>
		<dict>
			<key>title</key>
			<string>房屋信息</string>
			<key>isopen</key>
			<integer>1</integer>
			<key>type</key>
			<array>
				<dict>
					<key>typenum</key>
					<integer>1</integer>
					<key>info</key>
					<array>
						<dict>
							<key>title</key>
							<string>房号</string>
							<key>data</key>
							<string>503号</string>
						</dict>
						<dict>
							<key>title</key>
							<string>房屋标识</string>
							<key>data</key>
							<string>普通商品房</string>
						</dict>
						<dict>
							<key>title</key>
							<string>房屋性质</string>
							<key>data</key>
							<string>市场化商品房</string>
						</dict>
						<dict>
							<key>title</key>
							<string>所在层</string>
							<key>data</key>
							<string>5</string>
						</dict>
						<dict>
							<key>title</key>
							<string>幢号</string>
							<key>data</key>
							<string>A-1</string>
						</dict>
						<dict>
							<key>title</key>
							<string>单元</string>
							<key>data</key>
							<string>2单元</string>
						</dict>
						<dict>
							<key>long</key>
							<true/>
							<key>title</key>
							<string>项目名称</string>
							<key>data</key>
							<string>江山花园</string>
						</dict>
						<dict>
							<key>long</key>
							<true/>
							<key>title</key>
							<string>房屋坐落</string>
							<key>data</key>
							<string>河南省周口市扶沟县练寺镇</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>typenum</key>
					<integer>2</integer>
					<key>infotype</key>
					<integer>1</integer>
					<key>info</key>
					<array>
						<dict>
							<key>use</key>
							<string>规划用途</string>
							<key>structure</key>
							<string>建筑结构</string>
							<key>structurearea</key>
							<string>建筑面积(m^2)</string>
							<key>truearea</key>
							<string>套内面积</string>
							<key>sharearea</key>
							<string>分摊面积</string>
						</dict>
						<dict>
							<key>use</key>
							<string>成套住宅</string>
							<key>structure</key>
							<string>钢、钢筋混凝土结构</string>
							<key>structurearea</key>
							<string>120</string>
							<key>truearea</key>
							<string>100</string>
							<key>sharearea</key>
							<string>20</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>合同信息</string>
			<key>isopen</key>
			<integer>1</integer>
			<key>type</key>
			<array>
				<dict>
					<key>typenum</key>
					<integer>1</integer>
					<key>info</key>
					<array>
						<dict>
							<key>title</key>
							<string>合同号</string>
							<key>data</key>
							<string>商号2018032458752878</string>
						</dict>
						<dict>
							<key>title</key>
							<string>签约日期</string>
							<key>data</key>
							<string>2018-01-06</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>购房人信息</string>
			<key>isopen</key>
			<true/>
			<key>type</key>
			<array>
				<dict>
					<key>typenum</key>
					<integer>1</integer>
					<key>info</key>
					<array>
						<dict>
							<key>title</key>
							<string>姓名</string>
							<key>data</key>
							<string>王五</string>
						</dict>
						<dict>
							<key>title</key>
							<string>国籍</string>
							<key>data</key>
							<string>中华人民共和国</string>
						</dict>
						<dict>
							<key>title</key>
							<string>证件类型</string>
							<key>data</key>
							<string>护照</string>
						</dict>
						<dict>
							<key>title</key>
							<string>证件号码</string>
							<key>data</key>
							<string>1245886597464564848</string>
						</dict>
						<dict>
							<key>title</key>
							<string>出生日期</string>
							<key>data</key>
							<string>19970225</string>
						</dict>
						<dict>
							<key>title</key>
							<string>性别</string>
							<key>data</key>
							<string>男</string>
						</dict>
						<dict>
							<key>title</key>
							<string>购房人标示</string>
							<key>data</key>
							<string>一般购房人</string>
							<key>long</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>计价方式及价款</string>
			<key>isopen</key>
			<integer>1</integer>
			<key>type</key>
			<array>
				<dict>
					<key>typenum</key>
					<integer>1</integer>
					<key>info</key>
					<array>
						<dict>
							<key>title</key>
							<string>计价方式</string>
							<key>data</key>
							<string>按照套内建筑面积</string>
						</dict>
						<dict>
							<key>title</key>
							<string>付款方式</string>
							<key>data</key>
							<string>一次性付款</string>
						</dict>
						<dict>
							<key>title</key>
							<string>单价</string>
							<key>data</key>
							<string>80000.00</string>
						</dict>
						<dict>
							<key>title</key>
							<string>总价</string>
							<key>data</key>
							<string>1245.125</string>
						</dict>
						<dict>
							<key>long</key>
							<true/>
							<key>title</key>
							<string>按揭银行</string>
							<key>data</key>
							<string>招商银行</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>预售资金缴存记录  入账总金额:0.00元</string>
			<key>isopen</key>
			<integer>1</integer>
			<key>type</key>
			<array>
				<dict>
					<key>typenum</key>
					<integer>2</integer>
					<key>infotype</key>
					<integer>2</integer>
					<key>info</key>
					<array>
						<dict>
							<key>num</key>
							<string>房号</string>
							<key>bank</key>
							<string>监管银行</string>
							<key>account</key>
							<string>监管账户</string>
							<key>much</key>
							<string>入账金额</string>
							<key>idnum</key>
							<string>银行卡单号</string>
							<key>date</key>
							<string>入账日期</string>
							<key>refund</key>
							<string>是否退款</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>要件信息（已收要件列表）</string>
			<key>isopen</key>
			<integer>1</integer>
			<key>type</key>
			<array>
				<dict>
					<key>typenum</key>
					<integer>2</integer>
					<key>infotype</key>
					<integer>3</integer>
					<key>info</key>
					<array>
						<dict>
							<key>name</key>
							<string>要件名称</string>
							<key>type</key>
							<string>纸张类型</string>
							<key>pagenum</key>
							<string>页数</string>
							<key>much</key>
							<string>份数</string>
							<key>fontnum</key>
							<string>字号</string>
						</dict>
						<dict>
							<key>name</key>
							<string>身份证</string>
							<key>type</key>
							<string>复印件</string>
							<key>pagenum</key>
							<string>1</string>
							<key>much</key>
							<string>1</string>
							<key>fontnum</key>
							<string>12</string>
						</dict>
						<dict>
							<key>name</key>
							<string>合同</string>
							<key>type</key>
							<string>原件</string>
							<key>pagenum</key>
							<string>33</string>
							<key>much</key>
							<string>1</string>
							<key>fontnum</key>
							<string>12</string>
						</dict>
						<dict>
							<key>name</key>
							<string>购房证明</string>
							<key>type</key>
							<string>复印件</string>
							<key>pagenum</key>
							<string>1</string>
							<key>much</key>
							<string>1</string>
							<key>fontnum</key>
							<string>12</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
