<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>set</key>
		<string>操作</string>
		<key>state</key>
		<string>业务状态</string>
		<key>date</key>
		<string>受理日期</string>
		<key>mode</key>
		<string>业务类型</string>
		<key>num</key>
		<string>业务号</string>
		<key>filenum</key>
		<string>档案号</string>
		<key>name</key>
		<string>关联人</string>
		<key>remark</key>
		<string>备注</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
	<dict>
		<key>set</key>
		<string></string>
		<key>state</key>
		<string>现势</string>
		<key>date</key>
		<string>2018-03-21</string>
		<key>mode</key>
		<string>预售商品房网上签约</string>
		<key>num</key>
		<string>商房2018030000000</string>
		<key>filenum</key>
		<string></string>
		<key>name</key>
		<string>钟楼</string>
		<key>remark</key>
		<string>合同号：商房201803125751585254</string>
	</dict>
</array>
</plist>
