<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<array>
		<dict>
			<key>title</key>
			<string>单元</string>
			<key>data</key>
			<string>2单元</string>
		</dict>
		<dict>
			<key>title</key>
			<string>预测阳台面积</string>
			<key>data</key>
			<string>8</string>
		</dict>
		<dict>
			<key>title</key>
			<string>签约价值(元)</string>
			<key>data</key>
			<string>78000</string>
		</dict>
		<dict>
			<key>title</key>
			<string>幢号</string>
			<key>data</key>
			<string>A-2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房屋坐落</string>
			<key>data</key>
			<string>河南省周口市扶沟县练寺镇</string>
		</dict>
		<dict>
			<key>title</key>
			<string>层高</string>
			<key>data</key>
			<string>33</string>
		</dict>
		<dict>
			<key>title</key>
			<string>建筑结构</string>
			<key>data</key>
			<string>钢结构</string>
		</dict>
		<dict>
			<key>title</key>
			<string>实测阳台面积</string>
			<key>data</key>
			<string>11</string>
		</dict>
		<dict>
			<key>title</key>
			<string>售前价值</string>
			<key>data</key>
			<string>980000</string>
		</dict>
		<dict>
			<key>title</key>
			<string>坡屋顶净结构标高</string>
			<key>data</key>
			<string>12</string>
		</dict>
		<dict>
			<key>title</key>
			<string>户型结构</string>
			<key>data</key>
			<string>L</string>
		</dict>
		<dict>
			<key>title</key>
			<string>预测建筑面积</string>
			<key>data</key>
			<string>78</string>
		</dict>
		<dict>
			<key>title</key>
			<string>销售价值</string>
			<key>data</key>
			<string>7891222</string>
		</dict>
		<dict>
			<key>title</key>
			<string>净高</string>
			<key>data</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>是否跃层</string>
			<key>data</key>
			<string>否</string>
		</dict>
		<dict>
			<key>title</key>
			<string>实测建筑面积</string>
			<key>data</key>
			<string>100</string>
		</dict>
		<dict>
			<key>title</key>
			<string>阳台个数</string>
			<key>data</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房屋朝向</string>
			<key>data</key>
			<string>东南</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房屋性质</string>
			<key>data</key>
			<string>住宅</string>
		</dict>
		<dict>
			<key>title</key>
			<string>预测套内面积</string>
			<key>data</key>
			<string>89</string>
		</dict>
		<dict>
			<key>title</key>
			<string>封闭式阳台个数</string>
			<key>data</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房屋土地性质</string>
			<key>data</key>
			<string>集体</string>
		</dict>
		<dict>
			<key>title</key>
			<string>行政管理类型</string>
			<key>data</key>
			<string>无</string>
		</dict>
		<dict>
			<key>title</key>
			<string>实测套内面积</string>
			<key>data</key>
			<string>100</string>
		</dict>
		<dict>
			<key>title</key>
			<string>非封闭式阳台个数</string>
			<key>data</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>装修程度</string>
			<key>data</key>
			<string>精装修</string>
		</dict>
		<dict>
			<key>title</key>
			<string>是否电梯房</string>
			<key>data</key>
			<string>电梯房</string>
		</dict>
		<dict>
			<key>title</key>
			<string>预测分摊面积</string>
			<key>data</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>预测图符号</string>
			<key>data</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>房屋用途</string>
			<key>data</key>
			<string>住宅</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房屋标识</string>
			<key>data</key>
			<string>普通商品房</string>
		</dict>
		<dict>
			<key>title</key>
			<string>实测分摊面积</string>
			<key>data</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>实测图幅号</string>
			<key>data</key>
			<string>无</string>
		</dict>
		<dict>
			<key>title</key>
			<string>占物理层数</string>
			<key>data</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>建成时间</string>
			<key>data</key>
			<string>2017-04-26</string>
		</dict>
		<dict>
			<key>title</key>
			<string>专有面积</string>
			<key>data</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>面积误差比</string>
			<key>data</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>所在层</string>
			<key>data</key>
			<string>22</string>
		</dict>
		<dict>
			<key>title</key>
			<string>建成年份</string>
			<key>data</key>
			<string>2017-</string>
		</dict>
		<dict>
			<key>title</key>
			<string>土地使用面积</string>
			<key>data</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>地上层数</string>
			<key>data</key>
			<string>18</string>
		</dict>
		<dict>
			<key>title</key>
			<string>总层数</string>
			<key>data</key>
			<string>22</string>
		</dict>
		<dict>
			<key>title</key>
			<string>备案时间</string>
			<key>data</key>
			<string>2017-04-26</string>
		</dict>
		<dict>
			<key>title</key>
			<string>预售许可日期</string>
			<key>data</key>
			<string>2017-04-26</string>
		</dict>
		<dict>
			<key>title</key>
			<string>地下层数</string>
			<key>data</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>独有土地面积</string>
			<key>data</key>
			<string>122</string>
		</dict>
		<dict>
			<key>title</key>
			<string>分摊土地面积</string>
			<key>data</key>
			<string>111</string>
		</dict>
		<dict>
			<key>title</key>
			<string>基底面积</string>
			<key>data</key>
			<string>11</string>
		</dict>
		<dict>
			<key>title</key>
			<string>总建筑面积</string>
			<key>data</key>
			<string>111111</string>
		</dict>
		<dict>
			<key>title</key>
			<string>宗地面积</string>
			<key>data</key>
			<string>1111</string>
		</dict>
		<dict>
			<key>title</key>
			<string>土地证号</string>
			<key>data</key>
			<string>111111111</string>
		</dict>
		<dict>
			<key>title</key>
			<string>权利性质</string>
			<key>data</key>
			<string>无</string>
		</dict>
		<dict>
			<key>title</key>
			<string>土地用途</string>
			<key>data</key>
			<string>商业</string>
		</dict>
		<dict>
			<key>title</key>
			<string>土地期限</string>
			<key>data</key>
			<string>50</string>
		</dict>
		<dict>
			<key>title</key>
			<string>装修价格</string>
			<key>data</key>
			<string>4000</string>
		</dict>
		<dict>
			<key>title</key>
			<string>限制销售原因</string>
			<key>data</key>
			<string>无</string>
		</dict>
		<dict>
			<key>title</key>
			<string>备注</string>
			<key>data</key>
			<string>无</string>
		</dict>
	</array>
</dict>
</plist>
